Repository mamba-org/mamba-press: changes, and which pre-commit hooks are due for each by the changed paths.
All: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

pixi-ruff-format:
  name: Run ruff format through pixi
  entry: pixi run fmt-ruff
  language: system

pixi-taplo-format:
  name: Run taplo format through pixi
  entry: pixi run fmt-taplo""
  language: system

pixi-ruff:
  name: Run ruff check through pixi
  entry: pixi run check-ruff --fix
  language: system

pixi-mypy:
  name: Run mypy through pixi
  entry: pixi run check-mypy
  language: system
  pass_filenames: false
  require_serial: true

Specify Python version
  README.md
  src/mamba_press/execution.py
  src/mamba_press/packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add example recipe
  examples/libmambapy.yaml
Due: none

Move dynamic to typing
  src/mamba_press/recipe.py
  src/mamba_press/typing.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add factory for solution filter
  src/mamba_press/__init__.py
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
  src/mamba_press/filter/packages.py
  src/mamba_press/filter/protocol.py
  src/mamba_press/recipe.py
  test/filter/test_packages.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename filter.protocol into filter.abc
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/factory.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/abc.py
  src/mamba_press/filter/files.py
  src/mamba_press/filter/packages.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add SourceConfigurable
  src/mamba_press/filter/abc.py
  src/mamba_press/filter/packages.py
  src/mamba_press/recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refactor utils
  src/mamba_press/__init__.py
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
  src/mamba_press/utils.py
  test/test_factory.py
  test/test_utils.py
  test/transform/dynlib/test_dynlib_utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Make UnixFilesFilter configurable
  src/mamba_press/filter/files.py
  src/mamba_press/recipe.py
  test/filter/test_files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename UnixFilesFilter > UnixGlobFilesFilter
  src/mamba_press/__main__.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/files.py
  test/filter/test_files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add interpolate_params
  src/mamba_press/recipe.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Make file filter configurable
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
  src/mamba_press/utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename solution filters
  src/mamba_press/factory.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/solution.py
  test/filter/test_packages.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix rename abc > protocol
  src/mamba_press/execution.py
  src/mamba_press/factory.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/files.py
  src/mamba_press/filter/protocol.py
  src/mamba_press/filter/solution.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename solution filters
  src/mamba_press/execution.py
  src/mamba_press/factory.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/packages.py
  src/mamba_press/filter/protocol.py
  src/mamba_press/recipe.py
  test/filter/test_packages.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Adjust recipe schema for pacakges filter
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename PathRelocate > ExplicitPathTransform
  src/mamba_press/__main__.py
  src/mamba_press/transform/__init__.py
  src/mamba_press/transform/path.py
  test/transform/test_path.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Make ExplicitPathTransform configurable
  src/mamba_press/transform/path.py
  test/transform/test_path.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refactor PathTransform
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add factory creation test
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Update README
  README.md
Due: none

Fix tmp working dir path
  src/mamba_press/execution.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add bugfix to readme
  README.md
Due: none

Fix global mutable
  src/mamba_press/factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add test task to readme
  README.md
Due: none

Add integration test
  examples/libmambapy.yaml
  test/test_integration.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Update libmambapy
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Add macos example
  examples/libmambapy-2.3.1-cp313-macos_15_0_arm64.yaml
  examples/libmambapy-2.3.1-cp313-manylinux_2_17_x86_64.yaml
  test/test_integration.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Code sign apple executables
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Update dev dependencies
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Update README tasks
  README.md
Due: none

Fix recipe parsing
  src/mamba_press/recipe.py
  test/test_recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix solution pruning invalid lookup
  src/mamba_press/solution_utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Internal function name changes
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Move dynlib relocation creation to factory
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add wheel_split to configurable
  src/mamba_press/__main__.py
  src/mamba_press/factory.py
  src/mamba_press/filter/files.py
  src/mamba_press/filter/packages.py
  src/mamba_press/recipe.py
  src/mamba_press/transform/path.py
  test/filter/test_files.py
  test/filter/test_packages.py
  test/test_factory.py
  test/transform/test_path.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix MatchSpec comparison
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Make Dynlib FromRecipeConfigurable
  src/mamba_press/factory.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Use Self
  src/mamba_press/factory.py
  src/mamba_press/filter/files.py
  src/mamba_press/platform.py
  src/mamba_press/recipe.py
  src/mamba_press/wheel.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add possibility ot provide external lib for RPath
  README.md
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
  test/test_recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add mamba-press-dev pixi task
  pixi.lock
  pyproject.toml
  src/mamba_press/execution.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Path conditions:
  pixi-ruff-format: any of: \.py$
  pixi-taplo-format: any of: \.toml$
  pixi-ruff: any of: \.py$
  pixi-mypy: any of: \.py$
