Repository mamba-org/mamba-press: changes, and which pre-commit hooks are due for each by the changed paths.
All: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      # Running common tools though pixi so that they are in sync with the ones used
      # by our editors (and does not duplicate downloads).
      - id: pixi-ruff-format
        name: "Run ruff format through pixi"
        entry: pixi run fmt-ruff
        language: system
        types: [python]
      - id: pixi-taplo-format
        name: "Run taplo format through pixi"
        entry: pixi run fmt-taplo""
        language: system
        types: [toml]
      - id: pixi-ruff
        name: Run ruff check through pixi
        entry: pixi run check-ruff --fix
        language: system
        types: [python]
      - id: pixi-typos
        name: "Run typos through pixi"
        entry: pixi run check-typos
        language: system
      - id: pixi-mypy
        name: "Run mypy through pixi"
        entry: pixi run check-mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true

Fix potential circular import
  src/mamba_press/packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add initial working wheel folder
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/filter/files.py
  src/mamba_press/filter/protocol.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix tilde in path
  src/mamba_press/packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add Python package filter
  src/mamba_press/__main__.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/packages.py
  test/filter/test_packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix missing noarch index
  src/mamba_press/execution.py
  src/mamba_press/packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Format test data
  test/filter/test_packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix test
  test/filter/test_packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix typo
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/platform.py
  src/mamba_press/transform/__init__.py
  src/mamba_press/transform/path.py
  src/mamba_press/transform/protocol.py
  test/transform/test_path.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Clean up UnixFilesFilter
  src/mamba_press/filter/files.py
  test/filter/test_files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Use PurePath in files filter
  src/mamba_press/execution.py
  src/mamba_press/filter/files.py
  src/mamba_press/filter/protocol.py
  test/filter/test_files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Stricter mypy typing
  pixi.lock
  pyproject.toml
  src/mamba_press/__init__.py
  src/mamba_press/__main__.py
  src/mamba_press/config.py
  src/mamba_press/execution.py
  src/mamba_press/packages.py
  test/filter/test_packages.py
  test/transform/dynlib/test_macho.py
  test/transform/test_path.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Create wheel environment
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add logger setup
  src/mamba_press/__main__.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Use colored CLI logging
  src/mamba_press/__main__.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix macho name and load commmands
  src/mamba_press/transform/dynlib/macho.py
  test/transform/dynlib/test_macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add RPATH relocation to execution
  pixi.lock
  pyproject.toml
  src/mamba_press/execution.py
  src/mamba_press/transform/dynlib/relocation.py
  src/mamba_press/transform/protocol.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Expose common dynamic lib relocation utility
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/utils.py
  test/transform/dynlib/test_macho.py
  test/transform/dynlib/test_utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add ELF relocation
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/relocation.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add RPATH only once
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix ELF soname
  src/mamba_press/transform/dynlib/elf.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Use RUNPATH on Linux
  src/mamba_press/transform/dynlib/elf.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

only modify RPATH
  src/mamba_press/execution.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/relocation.py
  src/mamba_press/transform/dynlib/utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Fix ELF dynamic libraries
  src/mamba_press/transform/dynlib/elf.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add common macos dso
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refactor relocator into ABC
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/platform.py
  src/mamba_press/transform/dynlib/__init__.py
  src/mamba_press/transform/dynlib/abc.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/relocation.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refactor macos dylib whitelist
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/transform/dynlib/__init__.py
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/relocation.py
  test/transform/dynlib/test_macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add auditwheel manylinux whitelist
  pixi.lock
  pyproject.toml
  src/mamba_press/__main__.py
  src/mamba_press/platform.py
  src/mamba_press/transform/dynlib/elf.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Add combined filters
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/files.py
  test/filter/test_files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Filter Linux ld sometimes marked as needed
  src/mamba_press/__main__.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Apply file filter on relocated lib
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/filter/files.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add Pixi ci task
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Update readme
  README.md
Due: none

Add wheel dist-info schema
  src/mamba_press/wheel.py
  test/test_wheel.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refacor solution_utils
  src/mamba_press/execution.py
  src/mamba_press/filter/packages.py
  src/mamba_press/packages.py
  src/mamba_press/solution_utils.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Refactor compute_solution
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add wheel packing
  README.md
  pixi.lock
  pyproject.toml
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/wheel.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Use conda-forge auditwheel
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Separate default sentinel
  src/mamba_press/config.py
  src/mamba_press/typing.py
  test/test_config.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Parse yaml recipe
  pixi.lock
  pyproject.toml
  src/mamba_press/__init__.py
  src/mamba_press/recipe.py
  test/test_recipe.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Use recipe source and target
  src/mamba_press/__init__.py
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
  src/mamba_press/filter/files.py
  src/mamba_press/platform.py
  src/mamba_press/recipe.py
  test/test_platform.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy
