Repository mamba-org/mamba-press: changes, and which pre-commit hooks are due for each by the changed paths.
All: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
  - repo: local
    hooks:
      # Running common tools though pixi so that they are in sync with the ones used
      # by our editors (and does not duplicate downloads).
      - id: pixi-ruff-format
        name: "Run ruff format through pixi"
        entry: pixi run fmt-ruff
        language: system
        types: [python]
      - id: pixi-taplo-format
        name: "Run taplo format through pixi"
        entry: pixi run fmt-taplo""
        language: system
        types: [toml]
      - id: pixi-ruff
        name: Run ruff check through pixi
        entry: pixi run check-ruff --fix
        language: system
        types: [python]
      - id: pixi-typos
        name: "Run typos through pixi"
        entry: pixi run check-typos
        language: system
      - id: pixi-mypy
        name: "Run mypy through pixi"
        entry: pixi run check-mypy
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true

Rename extra-libraries > add-rpath
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Rename extra-libraries > add-rpath
  src/mamba_press/factory.py
  src/mamba_press/filter/__init__.py
  src/mamba_press/filter/files.py
  src/mamba_press/transform/dynlib/__init__.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/params.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add remove-rpaths option to DynamicLibRelocate
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
  src/mamba_press/transform/dynlib/elf.py
  src/mamba_press/transform/dynlib/macho.py
  src/mamba_press/transform/dynlib/params.py
  test/test_factory.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add Source.constraints
  src/mamba_press/execution.py
  src/mamba_press/packages.py
  src/mamba_press/recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Don't compile pyc
  src/mamba_press/packages.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add default file filter string
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
  test/test_factory.py
  test/test_recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Allow default package filters
  src/mamba_press/factory.py
  src/mamba_press/filter/packages.py
  src/mamba_press/recipe.py
  test/filter/test_packages.py
  test/test_factory.py
  test/test_recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Allow override the python wheel folder
  src/mamba_press/__main__.py
  src/mamba_press/execution.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Allow default path transform
  src/mamba_press/factory.py
  src/mamba_press/recipe.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy

Add pinocchio example recipe
  examples/pinocchio-3.7.0-manylinux_2_17_x86_64.yaml
Due: none

Move missing features to Github issues
  README.md
Due: none

Add conventional commit indication in PR template
  .github/pull_request_template.md
Due: none

Add script entry
  pixi.lock
  pyproject.toml
  src/mamba_press/__main__.py
  test/test_integration.py
Due: pixi-ruff-format, pixi-taplo-format, pixi-ruff, pixi-mypy

Add commitlint
  .github/workflows/pr-format.yml
  dev/commitlint.yml
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Add missing platforms
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Remove pull request template
  .github/pull_request_template.md
Due: none

ci: Add conventional commit CI check (#5)
  .github/pull_request_template.md
  .github/workflows/pr-format.yml
  dev/commitlint.yml
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Add install instruction
  README.md
Due: none

Add source and target recipe documentation
  README.md
  docs/recipe.md
Due: none

Fix readme render
  README.md
Due: none

Add build section recipe doc
  docs/recipe.md
Due: none

Add doc for templating
  docs/recipe.md
Due: none

Fix whitespaces
  docs/recipe.md
Due: none

doc: Add usage documentation (#6)
  README.md
  docs/recipe.md
Due: none

Switch to lief 0.17
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

Fix instructions typo
  README.md
Due: none

chore: Upgrade lief to conda-forge and fix dev instructions (#7)
  README.md
  pixi.lock
  pyproject.toml
Due: pixi-taplo-format

fix: filtered keys for metada creation
  src/mamba_press/wheel.py
Due: pixi-ruff-format, pixi-ruff, pixi-mypy
